<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style> 
      @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
    </style>

  </head>

  <body>
    <header class="row">
      <div class="col-2">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />WE
            <br />MAKE
            <br />THINGS
          </div>
        <% end %>
      </div>

      <div class= "col-4 hidden-xs-down slogan" >
        Splurting out unsolicited advice about entrepreneurship since 2016
      </div>

      <div class= "col-10 offset-1 offset-sm-0 col-sm-5 links">

        <%= link_to 'Contribute', new_quote_path, data: {toggle: 'modal', target: '#myModal'} %><!-- Button trigger modal -->
        <%= link_to  'About', about_path %>
      </div>

    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModal">Contribute Your Quote</h4>
          </div>
          <div class="modal-body">
            <h1> Enter Your Quote Details </h1>
              <%= simple_form_for Quote.new do |f| %>
                <%= f.input :saying, label: "What is the quote you are adding?", placeholder: "This is where you write it"%>
                <br />
                <%= f.input :author, label: "Who wrote it?", placeholder: "This is who wrote it" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Create', class: 'btn btn-primary ' %>
           </div>
           <% end %>   
        </div>
      </div>
    </div>

     <br class="clear" />

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
            <%= flash[:error].html_safe %>
        </div>
      <% end %> 
       <%= yield %>
     </div>

     <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
           <%= link_to 'We break things...', root_path, class: 'next_quote' %>
          </div>
          <div class="col-12 col-sm-6 footer_blurb">
            I broke this : <a href="tomwsanders.com">Batman</a><br />
            You can to! <a href="apple.com">Hello</a>
          </div>
        </div>
      </div>
     </div>
  </body>
</html>