<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style> 
      @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
    </style>

  </head>

  <body>
    <header class="row">
      
      <div class="col-3">
        <div class="circle">
          <br />WE
          <br />MAKE
          <br />THINGS
        </div>
      </div>

      <div class="col-4 slogan">
        Splurting out unsolicited advice about entrepreneurship since 2016
      </div>

      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to  'About', '#' %>
      </div>

    </header>

    <hr />

     <br class="clear" />

    <div class="container">
       <%= yield %>
     </div>

     <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            We break things...
          </div>
          <div class="col-6 footer_blurb">
            I broke this : <a href="tomwsander.com">Batman</a><br />
            You can to! <a href="https://online.bootcampspot.com">Hello</a>
          </div>
        </div>
      </div>
     </div>
  </body>
</html>
